registry=https://registry.npmjs.org/
@softomate:registry=https://softomate.jfrog.io/softomate/api/npm/npm-main/
//softomate.jfrog.io/softomate/api/npm/npm-main/:_auth = Y2xpZW50LW5ld2xlYWQtYnVzaW5lc3NjYXNoYmFjazpBUGp1RnhGbXBUVUhWRmtxM2FzNFIxUDFpeHh0THhaU0o4aEV0
//softomate.jfrog.io/softomate/api/npm/npm-main/:always-auth = true
//softomate.jfrog.io/softomate/api/npm/npm-main/:email = client-newlead-businesscashback@besttoolbars.net
